/*

depend on google web font
(link ((rel . "stylesheet")
  (href . "https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400")))

- rgb(41, 45, 52) - bg
- rgb(33, 37, 43) - bg-disabled
- rgb(89, 140, 239) - point1
- rgb(215, 218, 224) - font-p
- rgb(157, 165, 179) - font-caption

*/

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: rgb(215, 218, 224);
    background-color: rgb(41, 45, 52);
    letter-spacing: 0.3px;
}


body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

div.contents {
    margin-left: 15px;
}

/* ***** nav ***** */
nav {
    z-index: 10;
    background-color: rgb(33, 37, 43);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.nav-content {
    padding-bottom: 10px;
}

/* ***** breadcrumb ***** */
.breadcrumb {
    font-size: 1rem;
}

.breadcrumb:before {
    font-size: 1.5rem;
    position: relative;
    bottom: 1px;
    margin: 0 3px;
}

/* ***** sidenav ***** */
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
    .patreon {
        display: none;
    }
}

.sidenav {
    background-color: rgb(41, 45, 52);
    padding-bottom: 200px;
}

.sidenav .logo a {
    text-align: center;
    height: 175px;
    margin: 20px 0 20px -13px;
    background-color : rgb(41, 45, 52);
}

.sidenav .collapsible-header {
    padding: 0 20px;
}

.sidenav li>a {
    color: rgb(215, 218, 224);
    font-size: 15px;
    font-weight: 300;
}

.patreon {
    background-color : rgb(41, 45, 52);
    position: fixed;
    left: 0;
    bottom: 0;
    height: 49px;
    width: 300px;
    z-index: 1000;
    border-top: 1px solid rgba(0, 0, 0, 0.25)
}

.patreon>a {
    line-height: 45px;
    padding: 0 32px;
}

/*
.sidenav li>a :hover {
    background-color: rgb(33, 37, 43);
}
*/

nav .sidenav-trigger {
    margin: 0;
}

nav ul a {
    margin: 0;
    padding: 0 10px;
}

/* ***** header style ***** */
h1, h2, h3 {
    font-weight: 300;
    margin-left: -5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35)
}

h4, h5, h6 {
    font-weight: 200;
}

.caption {
    position: relative;
    top: -0.8rem;
    margin-left: 1rem;
    font-size: 1.1rem;
}

.header {
    margin-left: 0;
    border-bottom: 0;
    text-align: center;
}

li > div.ul-header {
    font-size: 1.2rem;
}

.title {
    margin-top: 80px;
}

/* ***** footer ***** */

.page-footer {
    padding-top: 0;
    letter-spacing: 0.6px;    
    background-color: rgb(33, 37, 43);
}

.page-footer .footer-copyright {
    background-color: rgba(0,0,0,0.2);
}

/* ***** footer ***** */

[type="checkbox"]+span:not(.lever) {
    color: rgb(215, 218, 224);
    line-height: 110%;
    font-size: 1.64rem;
    font-weight: 200;
    vertical-align: 4px;
}

[type="checkbox"]+span:not(.lever):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    top: 3px;
}

/* ***** form style ***** */

input[type=range] {
    border: inherit;
}

textarea.materialize-textarea {
    color: rgb(215, 218, 224);
    background-color: rgb(33, 37, 43);
}

/* ***** pre styles ***** */
pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 12px;
    color: rgb(215, 218, 224);
    background-color: rgb(33, 37, 43);
    overflow: scroll;
    padding: 15px;
    line-height: 1.45;
}

pre > pre {
    white-space: inherit;
    margin: 0 15px;
    padding: 0;
}

.pre-wrap {
    white-space: pre-wrap;
}

.builtin {
    /* font-lock-builtin-face */
    color: #e5786d;
}
.constant {
    /* font-lock-constant-face */
    color: #e5786d;
}
.doc {
    /* font-lock-doc-face */
    color: #95e454;
}
.keyword {
    /* font-lock-keyword-face */
    color: #8ac6f2;
    font-weight: bold;
}
.string {
    /* font-lock-string-face */
    color: #95e454;
}
.variable-name {
    /* font-lock-variable-name-face */
    color: #cae682;
}
.comment {
    /* font-lock-comment-face */
    color: #99968b;
}
.comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #99968b;
}

/* ***** other styles ***** */
.divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    background-color: rgba(0, 0, 0, 0);
}

